body {background-color: rgb(165, 247, 247);}

.top {
    background-color: rgb(255, 249, 199);
    width: 1840px; 
    height: 900px;
    border: solid 5px
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*narbar*/

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(65, 29, 78);
    ;}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  }
  
  li a:hover {
    background-color: rgb(63, 54, 116);
  }

/*narbar end*/

/*intro*/
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

h2 {text-align: center;
    text-transform: capitalize;
    text-size-adjust: 50%;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(192, 138, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.computer { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    box-shadow: 6px 6px 2px lightblue;
}

.intro {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 180%;
}
/*intro ends*/

.middle {
    background-color: rgb(253, 208, 208); 
    width: 1840px; 
    height: 900px;
    border: solid 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Education list start*/
.ed1 {
    text-align: right;
    padding-right: 100px;
    border-style: solid;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    margin: 50px
}

.ed2 {
    text-align: left;
    padding-left: 100px;
    border-style: solid;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    margin: 50px
}

        
.ed3 {
    text-align: right;
    padding-right: 100px;
    border-style: solid;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    margin: 50px
}
/*Education list end*/

.bottom {
    background-color: rgb(214, 131, 240);
    width: 1840px; 
    height: 925px;
    border: solid 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Icons start*/

.halloween{
    padding-left: 5%;
    padding-top: 2%;
    height: 400px;
    width: 400px;
    position: relative;
}

.kiz{
    height: 400px;
    width: 400px;
    position: relative;
    left: 725px;
    bottom: 410px;
}

.bjc{
    height: 400px;
    width: 400px;
    position: relative;
    left: 1320px;
    bottom: 813px;
}

/*Icons Ends*/

.text1 {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    
}

/*contact me start*/

.End {background-color: rgb(147, 147, 236);
    width: 1840px; 
    height: 925px;
    border: solid 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

input {font-size: large;
}

textarea { height: 200px;
            width: 500px;
}
/*links start*/

.github {
    width:100px;
    position: relative;
    left: 950px;
    ;}


.linkedin {
    width:100px;
    position: relative;
    left: 650px
;}

/*links end*/

/*contact me end*/
